*~
*#*#
.*.swp
*.lo
*.o
*.la
*.stamp
.deps
.libs
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache
config.*
configure
Makefile
Makefile.in
data/au.gov.defence.dsto.parallax.replay.gschema.valid
data/replay.desktop
data/replay.pc
depcomp
docs/help/replay-C.omf
docs/reference/html/
docs/reference/version.xml
docs/reference/replay-decl-list.txt.bak
docs/reference/replay-decl-list.txt
docs/reference/replay-decl.txt.bak
docs/reference/replay-decl.txt
docs/reference/replay-overrides.txt
docs/reference/replay-sections.txt
docs/reference/replay-undeclared.txt
docs/reference/replay-undocumented.txt
docs/reference/replay-unused.txt
docs/reference/replay.args
docs/reference/replay.hierarchy
docs/reference/replay.interfaces
docs/reference/replay.prerequisites
docs/reference/replay.signals
docs/reference/replay.types.bak
docs/reference/replay.types
docs/reference/xml/
gnome-doc-utils.make
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
replay/Replay-1.0.gir
replay/Replay-1.0.typelib
replay/stamp-h1
replay/replay
replay/replay-marshallers.c
replay/replay-marshallers.h
replay/replay-enums.c
replay/replay-enums.h
replay-*.tar.bz2
replay-*.tar.gz
plugins/*/*.plugin
py-compile
